<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="username" value="Pawannarote"/>
    <parameter name="password" value="P1234"/>
    <parameter name="browserName" value="chrome"/>
    <test verbose="2" preserve-order="true" parallel="false" thread-count="3" name="C:/Users/USER/IdeaProjects/MavenAutomationProject">
        <classes>
            <class name="parameterization.NeedOfParameterization"/>
        </classes>
    </test>
</suite>